:root{
    --white: white;
    --source-sans-pro: 'Source Sans Pro', sans-serif;
}

body{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #EEEEEE;
}

/* ---- hero-section ---- */

#hero-section{
    background-image: url(../assets/hero_background_image.png);
    background-size: 100% 100%;
}

header{
    display: flex;
    font-family: var(--source-sans-pro);
    font-style: normal;
    text-transform: uppercase;
    padding-top: 3%;
}

header a{
    text-decoration-line: none;
    color: var(--white);
}

header > a{
    flex: 1 1 25%;
    align-self: center;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;  
    letter-spacing: 0.1em;
    font-weight: bolder;
}

header > ul{
    display: flex;
    justify-content: center;
    flex: 1 1 75%;
    justify-content: flex-start;
}

ul > li{
    list-style-type: none;
    margin: 0 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
}

ul > li:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1.5px;
}

.container-hero-section{
    padding: 17%;
}

/* Some effects in hero section logo */

.container-hero-section > img{
    transition: 1s;
}

.container-hero-section > img:hover{
    transform: rotateY(180deg) scale(1.5);
}

/* End of the effects */

#hero-section h1{
    color: var(--white);
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

#hero-section h3{
    font-family: var(--source-sans-pro);
    color: var(--white);
    opacity: 0.7;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    max-width: 426px;
    display: inline-block;
    margin: 0;
}

/* ---- main-section ---- */

main{
    padding-top: 2%;
    padding-bottom: 8%;
}

main h2{
    color: #464547;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

main h3{
    font-family: var(--source-sans-pro);
    color: #666666;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

main > div{
    display: flex;
    gap: 10%;
}

main p{
    font-family: var(--source-sans-pro);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding: 1% 0;
    margin-bottom: 0;
    margin-top: 0;

    flex: 1 1 50%;
    text-align: left;
}

main #p1{
    margin-left: 10%;
}

main #p2{
    margin-right: 10%;
}

main button{
    background: #55C2D8;
    border-radius: 18px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--white);
    border: 0;
    font-weight: bolder;
    margin-top: 50px;
}

/* Some effects in main section button */

main button{
    transform: rotate(0deg);
    transition: all 1s;
}

main button:hover{
    transform-origin: top left;
    transform: rotate(15deg);
}

/* End of the effects */

/* ---- learn-more-section ---- */

#learn-more-section{
    background-image: url(../assets/learn_more_image.png);
    background-size: cover;
    padding: 5%;
}

#learn-more-section h2{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: var(--white);
}

#learn-more-section button{
    width: 150px;
    height: 150px;
    background: #39C2D7;
    border-radius: 100px;
    color: var(--white);
    border: 0;
}

.play-logo {
    margin-left: 38%;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 50px solid var(--white);
    border-radius: 3px;
  }

/* Some effects in learn more section button */

#learn-more-section button {
    transition: all 1s;
}

#learn-more-section button:hover {
    background-color: var(--white);
}

.play-logo {
    transition: all 1s;
}

#learn-more-section button:hover .play-logo {
    border-left: 50px solid #39C2D7;
}

/* End of the effects */

#learn-more-section h3{
    font-family: var(--source-sans-pro);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--white);
    padding: 0 20%;
}

/* ---- footer-section ---- */

footer{
    background: #464547;
    text-align: left;
    padding: 3% 10%;
    font-family: var(--source-sans-pro);
    color: rgba(255, 255, 255, 0.4);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}

footer p:first-child{
    display: inline;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 1%;
    color: var(--white);

    grid-column: 1 / 3;
}

footer p{
    margin: 0;
}

footer img{
    vertical-align: middle;
    margin-right: 16px;
}

footer > p:nth-child(2){
    grid-column: 3 / 5;
}

footer > p:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

footer > p:nth-child(4){
    grid-column: 6 / 8;
    grid-row: 2 / 3;
}