// @use "sass:color";

body {
    text-align: center;
    font-family: $oswald;
    background-color: $home-background-color;
}

.hero-section {
    @include setBackgroundImage('../assets/hero_background_image.png', 100% 100%);
    color: $white;

    .hero-section__nav {
        display: flex;
        font-family: $source-sans-pro;
        text-transform: uppercase;
        padding-top: 3%;
    
        .hero-section__link {
            text-decoration-line: none;
            color: $white;
        }
    
        > .hero-section__link {
            flex: 1 1 25%;
            align-self: center;
        
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.1em;
        }
    
        > .hero-section__list {
            display: flex;
            justify-content: center;
            flex: 1 1 75%;
            justify-content: flex-start;
    
            > .hero-section__item {
                list-style-type: none;
                margin: 0 20px;
            
                font-size: 14px;
                letter-spacing: 0.2em;
    
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 6px;
                    text-decoration-thickness: 1.5px;
                }
            }
        }
    }

    .hero-section__container {
        position: relative;
        padding: 17%;
        z-index: 100;

        /* Some effects in hero section logo */
        .hero-section__logo {
            transition: 1s;

            &:hover {
                transform: rotateY(180deg) scale(1.5);
            }
        }
        /* ... */
    }

    .hero-section__h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
    }

    .hero-section__h3 {
        font-family: $source-sans-pro;
        opacity: 0.7;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        max-width: 426px;
        display: inline-block;
        margin: 0;
    }
}
