/* || Colors */

$white: white;
$home-background-color: #EEEEEE;
$h2-color-main-section: #464547;
$h3-color-main-section: #666666;
$black: #000000;
$home-blue-color: #39C2D7;
$footer-background-color: #464547;
$footer-color-p: rgba(255, 255, 255, 0.4);

/* ... */

/* || Fonts */

$source-sans-pro: 'Source Sans Pro', sans-serif;
$oswald: 'Oswald', sans-serif;

/* ... */